


.contenedor{
	padding-top: 50px;
	padding-right: 30px;
	padding-left: 30px;
	border-radius: 10px
}

.logo{
	
	background-image: url ("./images/logobr.jpg"); 
	width: 50px;
	
}
.trip {
	width: 100% !important;
}

.container {
	width: 100%;
}

.tripsContainer#child {
	margin: 0 auto;
}

.tripsTable, .vehiculeTable, .accommodationTable {
	margin: 0 auto;
	  
}

.input-group{
	margin-left: 12px;
	margin-bottom: 7px;
}
.tripsTable, .vehiculeTable, .accommodationTable{

    border-spacing:  12px 2px;    
         
}

.remove {
	margin-left: 120%;
}
body{
	background: rgba(255,255,255,1);
background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(129,129,126,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(129,129,126,1)));
background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(129,129,126,1) 100%);
background: -o-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(129,129,126,1) 100%);
background: -ms-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(129,129,126,1) 100%);
background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(129,129,126,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#81817e', GradientType=1 );
}


#navegador{
	padding-top: 35px;
}

.tableInfo{
	vertical-align: text-top;
}

.error, .error:focus { 

    border:2px solid red; 
}

.form-group{
	margin-bottom: 5px;
}

.text_valider {
	text-align: center;
	color: red;
	font: verdana;
}
.trip {
	width: 100% !important;
}

.container {
	width: 100%;
}

.tripsContainer#child {
	margin: 0 auto;
}

.tripsTable, .vehiculeTable, .accommodationTable {
	margin: 0 auto;
	  
}

.input-group{
	margin-left: 12px;
}
.tripsTable, .vehiculeTable, .accommodationTable{

    border-spacing:  12px 2px;    
         
}

.remove {
	margin-left: 120%;
}
body{
background: white;	
	
/* background: rgba(255,255,255,1);
background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(129,129,126,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(129,129,126,1)));
background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(129,129,126,1) 100%);
background: -o-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(129,129,126,1) 100%);
background: -ms-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(129,129,126,1) 100%);
background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(129,129,126,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#81817e', GradientType=1 ); */
}
/* -------------------------------ESTILO BOTONES -------------------------------- */

.btn{
	display: inline-block;
/* 	padding: 6px 12px; */
	margin-bottom: 0;
	font-size: 12px;
	font-family: SoprafontB;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	horizontal-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #F7A823;
	border: 1px #f07d00;
	border-radius: 4px;
	color:white;
	margin-top: 5;
	margin-right: 8;
	
}

.btnform{
	
	position: relative;
	margin-left: 16%;
	
}

.btnicon{
	display: inline-block;
	height: 30;
	margin-right: 5;
	padding: 0 5 0 7;
	font-size: 12px;
	font-family: SoprafontB;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
/* 	white-space: nowrap; */
	vertical-align: middle;
	horizontal-align: middle;
	cursor: pointer;
	background-color: #cf022b;
	border: 1px #f07d00;
	border-radius: 4px;
	color:white;
	-webkit-transition: height 2s;
    transition: height 2s;
	
	
	
}

.btnicon>i{
	
	margin-right:5;
	padding:auto;
}

/* -------------------------------ESTILO TEXTO -------------------------------- */

@font-face {
    font-family: SoprafontB;
    src: url(fonts/sopratext/SohoGothicPro-Bold.otf);
    
}
@font-face {
    font-family: SoprafontR;
    src: url(fonts/sopratext/SohoGothicPro-Regular.otf);
}
@font-face {
    font-family: SoprafontEB;
    src: url(fonts/sopratext/SohoGothicPro-ExtraBold.otf);
}
@font-face {
    font-family: SoprafontL;
    src: url(fonts/sopratext/SohoGothicPro-Light.otf);
}
/* -------------------------------ESTILO BOTONES NAV -------------------------------- */

#navegador{
	padding-top: 35px;
}

.btnav {
	
	height: 50px;
	background-color: #cf022b;
	
	
}

.btnav>ul{
	list-style-type: none;
    margin: 0;
    padding: auto;
    overflow: hidden;

    

	
}
.btnav>li {
	position: relative;
	float: left;
	background-color: #cf022b;
	cursor: pointer;
}
.btnav>button {
	padding-top: 34px;
	display: inline-table;
	color: #ffffff;
	background-color: #cf022b;
	border-color: #000000;
	position: center;
	width:50px;
	border-radius:6px;
}

.btnav>li>a {
	display: block;
	
/*  	display:inline-table; */
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: SoprafontB;
   
}


.btnav>li>a:focus, .btnav>li>a:hover {
	text-decoration: none;
	background-color: #f07d00;
}

.btnav>li.disabled>a {
	color: #ff0080
}

.btnav>li.disabled>a:focus, .btnav>li.disabled>a:hover {
	color: #777;
	text-decoration: none;
	cursor: not-allowed;
	background-color: transparent
}

.btnav .open>a, .btnav .open>a:focus, .btnav .open>a:hover {
	background-color: #eee;
	border-color: #337ab7
}

.btnav .btnav-divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e5e5e5
}

.btnav>li>a>img {
	max-width: none
}

.btnav-tabs {
	border-bottom: 1px solid #ddd
}

.btnav-tabs>li {
	float: left;
	margin-bottom: -1px
}

.btnav-tabs>li>a {
	margin-right: 2px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0
}

.btnav-tabs>li>a:hover {
	border-color: #eee #eee #ddd
}

.btnav-tabs>li.active>a, .btnav-tabs>li.active>a:focus, .btnav-tabs>li.active>a:hover
	{
	color: #555;
	cursor: default;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom-color: transparent
}

.btnav-tabs.btnav-justified {
	width: 100%;
	border-bottom: 0
}

.btnav-tabs.btnav-justified>li {
	float: none
}

.btnav-tabs.btnav-justified>li>a {
	margin-bottom: 5px;
	text-align: center
}

.btnav-tabs.btnav-justified>.dropdown .dropdown-menu {
	top: auto;
	left: auto
}

.btnchck {
	color: #ffffff;
	background-color: #faaa0a;
	border-color: #f07d00;
	position: relative;
	margin: auto;
}
.log-btn {
   font-weight: bold;
   color: #ffffff;
   text-align: center;
   position:absolute;
   right: 70;
   height: 35px;
   margin-top:10;
   cursor: default;
}
.btnlogout {
	
	background-color: transparent;
	border-radius:6px;
	border: 2.5px transparent;
	background-image: url(../images/logoutblc.png);
	width: 33px;
    height: 33px;
/* 	border-color: #ffffff; */
    position:absolute;
    right: 10;
    margin-top:5;
    
 }

.btnlogin{
	
	position:relative;
    top:50%; 
    left:50%;
    padding-top:20;
	
}
/* -------------------------------ESTILO BARRA DE NAVEGACION-------------------------------- */ 
 
 .topnav {

  background-color: #cf022b;
  height:49;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  active: blue;
 
}

.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  font-family: SoprafontB;
  border-right-style: solid;
  border-left-style: solid;
  border-width: 1px;
  
  cursor: pointer;
}


.topnav a.default {
    background-color: #cf022b;
    color: white;
}

.topnav a.active {
    color: #000000;
    background-color:#f07d00;
    border-color: #ffffff;

}
.topnav a:hover {
   color: #000000;
    background-color:#f07d00;
}


 /* -------------------------------ESTILO LOGO SOPRA-------------------------------- */
 
 .logo {
 	background-image: url(../images/logobr.png);
 	width: 150px;
    height: 35px;
	margin-top:7; 
	border-color: #cf022b;

   
}
 
/* -------------------------------ESTILO TEXTO FORMULARIO-------------------------------- */

.form-horizontal .control-label {
		padding-top: 7px;
		margin-bottom: 0;
		text-align: right;
		font-family: SoprafontR;
	}
.form-group {
		display: inline;
		margin-bottom: 0;
		vertical-align: middle;
	}
.form-control {

	font-family: SoprafontL;
	
}
.form-horizontal {

	font-family: SoprafontB;
	color: #000000;
}

.form-search{
	
	width:50%;
	margin: auto;
}

.text-over-input{
	font-family: SoprafontR;
/* 	text-decoration: underline; */
	padding-left: 10px;
	padding-bottom: 5px;
	font-size:14px;
	
}

.text-wrong{
	color: red;
	font-family: SoprafontR;
/* 	text-decoration: underline; */
	padding-left: 10px;
	padding-top: 5px;
	font-size:12px;
	
}
.main-legend{
	padding-left:1.5em;
	border-color: #c0c0c0;
	border-width: 1px 1px 3px 1px;
	
}
.legend{
	
	padding-left:1.5em;
	border-color: #c0c0c0;
	width: 95%;
	positon:relative;
	margin: auto;
	
}
/* -------------------------------ESTILO FECHA-------------------------------- */

.date-legend{
	font-family: SoprafontR;
	font-size:12px;
	position:relative;
    top:50%; 
    left:80%;
    padding-top:20;	
}




/* -------------------------------ESTILO TABLAS-------------------------------- */
.tablepos{
	
	position:relative;
	margin-left: 15.6%;
}

.table-striped>td{
	-webkit-transition: height 2s;
    transition: height 2s;
	
}

/* -------------------------------ESTILO FILTRO-------------------------------- */

.filter{
	
	float: right;
	padding-right: 100px;
}

.td{
	width: 12%;
	margin-right: 500px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {

  -webkit-text-fill-color: inherit !important;
  -webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* -------------------------------ESTILO CAMPOS FORMULARIO-------------------------------- */

.input-area{
	
	padding-left:5px;
	padding-right: 7px;
	width: 190px;
	margin-bottom: 10px;
}

.input-area-date{
	
	padding-left:5px;
	padding-right: 7px;
	width: 160px;
	margin-bottom: 10px;
}
.input-area-time{
	
	padding-left:5px;
	padding-right: 7px;
	width: 120px;
	margin-bottom: 10px;
}