<!--  <html ng-app="collayApp">
<head>

<title>AngularJS orden de mission Manager</title>

<meta charset="UTF-8" />

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />

Optional theme
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous" />

Latest compiled and minified JavaScript






<link href='./css/style.css' rel="stylesheet" type="text/css" />
<link href='./css/css/font-awesome.css' rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans'
	rel='stylesheet' type='text/css' />
<script data-require="angular.js@*" data-semver="1.3.0-beta.14"
	src="http://code.angularjs.org/1.3.0-beta.14/angular.js"></script>
<script type="text/javascript" src="./js/app.js"></script>
<script type="text/javascript" src="./js/collayApp.js"></script>
</head>
<body>  -->
<div id="navegador"></div>

<div class="contenedor">

	<form class="well form-horizontal" method="post " id="contact_form"
		name="userform">
		<fieldset>

			<!-- Form Name -->
			<legend class="main-legend">Ordenes abiertas</legend>
			<!-- 					<p class="date-legend" ng-bind="date | date:'dd-MM-yyyy'" ng-model="date"></p> -->

			<!-- Text input-->
<!-- 			<div class="filter"> -->
<!-- 				<br></br> <br></br> -->
<!-- 				<table> -->
<!-- 					<thead> -->
<!-- 						<tr > -->
<!-- 							<th class="glyphicon glyphicon-search" -->
<!-- 								style='padding-right: 10px'></th> -->
<!-- 							<th><input ng-model="filtro" /></th> -->
<!-- 						</tr> -->
<!-- 					</thead> -->
<!-- 				</table> -->
<!-- 			</div> -->
			
			<div class="form-search">
						<div class="input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-search"></i></span> <input name="collabFirstName"
								ng-model="filtro" placeholder="Buscador"
								class="form-control" type="text" />
						</div>
					</div>
			
			
			
			
			
			<div ng-controller="collaCtrl">

		<table class="table table-striped" style='width: 90%; margin: 0 auto'>
			<thead class="thead-inverse">
				<tr>
					<th><h5>Fecha</h5></th>
					<th ><h5>Nombre</h5></th>
					<th ><h5>Status</h5></th>
					<th ><h5>Proyecto</h5></th>
					<th ><h5>Agencia</h5></th>
					<th ><h5>Creador</h5></th>
				</tr>
			</thead>
			<tbody ng-model="scope" ng-repeat="x in colla | orderBy:['status','date'] | filter: { status: filtStatus() } | filter: filtro">
			<tr>
				<td class="text-over-input">{{ x.date | date:'dd-MM-yyyy'}}</td>
				<td class="text-over-input">{{ x.collabFirstName }}</td>
				<td class="text-over-input">{{ x.status }}</td>
				<td class="text-over-input">{{ x.project.nameProj}}</td>
				<td class="text-over-input">{{ x.project.agency }}</td>
				<td class="text-over-input">{{ x.createdBy }}</td>
				<td><button class="btn" title="Validar" ng-click="SendData(x)" confirm="Are you sure?" ng-show="showValidate(x.status) == 1" ><i style="color:green" class= "glyphicon glyphicon-check"></i></button><button class="btn" title="Ver Detalle" ng-click="callCOllaBD(x.id)"> <i style="color:black" class= "glyphicon glyphicon-eye-open"></i></button></td>
				<!-- <td><button style='width:70px; color: red' ng-click="SendData(x)">{{buttonState}}</button></td> -->
				
			</tr>
			<tr ng-show= "callShowTables() == x.id">
				
              <td colspan="6">
                
    <!--     *************************************************  TABLA ITINERARIO *************************************************************    -->
                
                <table class="table table-striped" style='width: 90%; margin: 0 auto' ng-show="collaitin.length">
                	<thead class="thead-inverse">
                	<caption>Itinerario</caption>
					<tr>
						<th><h5>Fecha</h5></th>
						<th><h5>Origen</h5></th>
						<th><h5>Destino</h5></th>
						<th><h5>Hora de salida</h5></th>
						<th><h5>Hora de llegada</h5></th>
						<th><h5>Transporte</h5></th>
						<th><h5>Compañía</h5></th>
						<th><h5>Importe</h5></th>
					</tr>
					</thead>
					
					<tr ng-repeat="y in collaitin">
						<td class="text-over-input">{{ y.date | date:'dd-MM-yyyy'}}</td>
						<td class="text-over-input">{{ y.origin }}</td>
						<td class="text-over-input">{{ y.destination }}</td>
						<td class="text-over-input">{{ y.departureHour | date: 'HH:mm'}}</td>
						<td class="text-over-input">{{ y.arrivalHour | date: 'HH:mm'}}</td>
						<td class="text-over-input">{{ y.transport }}</td>
						<td class="text-over-input">{{ y.company }}</td>
						<td class="text-over-input">{{ y.price }}</td>
						
				<!-- <td><button style='width:70px; color: red' ng-click="SendData(x)">{{buttonState}}</button></td> -->
				
					</tr>
                
                </table>
       <!--          ************************************************ TABLA ALQUILER COCHES *****************************************************         -->
                

                <br></br>
                
                <table class="table table-striped" style='width: 90%; margin: 0 auto' ng-show="collarents.length">
                	<thead class="thead-inverse">
                	<caption>Alquiler de coches</caption>
					<tr>
						<th><h5>Nombre del Conductor</h5></th>
						<th><h5>Fecha de recogida</h5></th>
						<th><h5>Hora de recogida</h5></th>
						<th><h5>Lugar de recogida</h5></th>
						<th><h5>Fecha de entrega</h5></th>
						<th><h5>Hora de entrega</h5></th>
						<th><h5>Lugar de entrega</h5></th>
						<th><h5>Importe</h5></th>
					</tr>
					</thead>
					
					<tr ng-repeat="z in collarents">
						<td class="text-over-input">{{ z.driverName}}</td>
						<td class="text-over-input">{{ z.pickupDate | date:'dd-MM-yyyy'}}</td>
						<td class="text-over-input">{{ z.pickupHour | date: 'HH:mm'}}</td>
						<td class="text-over-input">{{ z.pickupPlace }}</td>
						<td class="text-over-input">{{ z.deliveryDate | date:'dd-MM-yyyy'}}</td>
						<td class="text-over-input">{{ z.deliveryHour | date: 'HH:mm'}}</td>
						<td class="text-over-input">{{ z.deliveryPlace }}</td>
						<td class="text-over-input">{{ z.price }}</td>
						
				<!-- <td><button style='width:70px; color: red' ng-click="SendData(x)">{{buttonState}}</button></td> -->
				
					</tr>
                
                </table>
<!--           ****************************************** TABLA ACOMODACION **************************************************************         -->
                

                <br></br>
                
                <table class="table table-striped" style='width: 90%; margin: 0 auto' ng-show="collaccom.length">
                	<thead class="thead-inverse">
                	<caption>Alojamiento</caption>
					<tr>
						<th><h5>Nombre del Hotel</h5></th>
						<th><h5>Fecha de entrada</h5></th>
						<th><h5>Fecha de salida</h5></th>
						<th><h5>Numero de noches</h5></th>
						<th><h5>Precio</h5></th>
					</tr>
					</thead>
					
					<tr ng-repeat="w in collaccom">
						<td class="text-over-input">{{ w.hotelName}}</td>
						<td class="text-over-input">{{ w.entryDate | date:'dd-MM-yyyy'}}</td>
						<td class="text-over-input">{{ w.departureDate | date:'dd-MM-yyyy' }}</td>
						<td class="text-over-input">{{ w.numberOfNights}}</td>
						<td class="text-over-input">{{ w.price }}</td>
						
				<!-- <td><button style='width:70px; color: red' ng-click="SendData(x)">{{buttonState}}</button></td> -->
				
					</tr>
                
                </table>
                
                </td>
          
          
			</tr>
		</tbody>
		</table>
		</div>
		</fieldset>
		</form>
		

</div>
 

<!-- 
</body>
</html> -->