	<div id="navegador"></div>
	<div class="contenedor">

	<form class="well form-horizontal" method="post " id="contact_form"
		name="userform">
		<fieldset>

			<!-- Form Name -->
			<legend class="main-legend">Ordenes cerradas</legend>
			
			
<!-- 	<div class="filter"> -->
<!-- 	<table > -->
<!-- 	<thead> -->
<!-- 	<tr> -->
<!-- 	<th class="glyphicon glyphicon-search" style='padding-right:10px'></th> -->
<!-- 	<th><input ng-model="filtro"/></th> -->
<!-- 	</tr> -->
<!-- 	</thead> -->
<!-- 	</table> -->
<!-- 	</div> -->
	
		<div class="form-search">
						<div class="input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-search"></i></span> <input name="collabFirstName"
								ng-model="filtro" placeholder="Buscador"
								class="form-control" type="text" ng-required="true" />
						</div>
					</div>
	
	
	
	
	
	<div ng-controller="collaCtrl">

		<table class="table table-striped" style='width: 90%; margin: 0 auto'>
			<thead class="thead-inverse">
				<tr>
					<th>Fecha</th>
					<th>Nombre</th> 
					<th>Status</th>
					<th>Proyecto</th>
					<th>Agencia</th>
					<th>Creador</th>
				</tr>
			</thead>
			
			<tr ng-repeat="x in colla | orderBy:['status','date'] | filter: { status: 'Cerrada' } | filter: filtro">
				<td>{{ x.date | date:'dd-MM-yyyy'}}</td>
				<td>{{ x.collabFirstName }}</td>
				<td>{{ x.status }}</td>
				<td>{{ x.project.nameProj }}</td>
				<td>{{ x.project.agency }}</td>
				<td>{{ x.createdBy }}</td>
				<td><button style='width:70px; color: red' ng-click="SendData(x)" ng-show="!(x.status=='Cerrada')">Cerrar</button></td>
				<!-- <td><button style='width:70px; color: red' ng-click="SendData(x)">{{buttonState}}</button></td> -->
			</tr>

		</table>
</div>
</fieldset>
</form>
</div>